* { margin: 0; padding: 0; box-sizing: border-box; max-height: 100000px; color: #505050;}
input { border: none;}
ul { list-style: none;}
img { border: none; vertical-align: top;}
a { -webkit-tap-highlight-color: transparent; text-decoration: none;}
input { -webkit-appearance: none;}
.clearfix:after { content: ""; display: block; clear: both;}
.pull-left { float: left;}
.pull-right { float: right;}
body { font-size: 0.24rem; background: #f8f8f8;}
header{top: 0;z-index: 10;position: fixed; width:100%; height:1.5rem; border-bottom:1px solid #ccc; background: #fff; color:#f92c62; text-align: center; font-size: 0.4rem; line-height: 1.5rem; letter-spacing: 0.03rem;}
header > .hLogo{ position: absolute; left:0.1rem; top:0.15rem; display: block; width:2.7rem; height:1.2rem;line-height: 1.2rem; float: left; background: url(../images/logo-1.png) no-repeat 0 0; background-size:cover;}
header span{color: #f92c62;padding-right: 0.5rem;}
header > .btn{ position: absolute; right:0.1rem; top:0.12rem; display: block; width:3.3rem; height:1.2rem;line-height: 1.2rem; background: url(../images/downloadBtn.png) no-repeat 0 0; background-size:cover; color:#fff;  text-indent: 0.6rem; font-size: 0.28rem; }
.t-v-b{ position: relative;padding-top: 1.5rem;}
.t-v-b > .t-v-i{ width:100%; }
.t-v-b > .watchBtn{ position: absolute; left:0.2rem; top:0.1rem; display: block; width:1.58rem; height:0.6rem; background:url(../images/watchBtn.png) no-repeat 0 0; background-size:cover;  }
.play{ position: absolute; left:0; top:0; right:0; bottom:0; margin:auto; display: block; width:2.2rem; height:2.2rem; background: url(../images/play.png) no-repeat 0 0; background-size:cover; }
.t-v-tit{ width:100%; height:0.6rem; line-height: 0.6rem; background: #fff; text-indent: 0.2rem; letter-spacing: 1px; margin:0.1rem 0; }
.d-l-b{ position: relative; padding:0.6rem 0; margin-bottom:0.1rem; animation: elemScale 2s infinite;}
.d-l-b .download .d-l-i{ width:90%; margin-left:5%; }
.d-l-b .download .sex{ position: absolute; left:0.5rem; top:0.1rem; width:22%; }
.s-v-b{ width:100%; padding:0 0.12rem; background: #fff; margin-bottom:0.1rem; }
.column-t{ position: relative; height: 0.6rem; line-height: 0.6rem; color:#fa3f83; letter-spacing: 0.02rem; font-size: 0.28rem;text-indent: 0.25rem; }
.column-t > i{ position: absolute; left:0rem; top:0.1rem; display: block; width:0.08rem; height:0.4rem; background:#fa3f83;}
.s-v-b .col-6{ position: relative; width:50%; float: left; padding:0.05rem; }
.s-v-b .col-6 > img{ width:100%;}
.s-v-b .col-6 > p{ height: 0.6rem; line-height: 0.6rem;text-align: center; }
.pMore{ text-align:center; color:#8a8a8a; padding-top:0.5rem; padding-bottom:0.3rem; }
.s-v-b .col-4{ position: relative; width:33.33%; float: left; padding:0.05rem; }
.s-v-b .col-4 > img{ width:100%;}
.s-v-b .s-pic-t{ line-height: 0.72rem; border-bottom:1px dashed #f8f8f8; }
a[title="站长统计"]{ display: none; }
footer{z-index: 10; position: fixed; left:0rem; bottom:0rem; width:100%; height:1.5rem;line-height: 1.5rem; background: url(../images/footerBg.png) no-repeat 0 0; background-size:cover; text-align:center;color:#fff; letter-spacing: 0.02rem; font-size: 0.4rem; }
footer > .footerLogo{position: absolute;left: 0.15rem;top: 0.15rem;width: 1.9rem;height: 0.92rem;width: 2.7rem;height: 1.2rem;line-height: 1.2rem;}
footer > .btn{ position: absolute; right:0.15rem; top:0.15rem; display: block; width:3.3rem; height:1.2rem; background: url(../images/downloadBtn_2.png) no-repeat 0 0; background-size:cover; color:#fff; line-height: 1.2rem; text-indent: 0.6rem; font-size: 0.35rem; }
.course{ position: fixed; left:0rem; top:0rem; width:100%; height: 100%; z-index: 8; background: rgba(0,0,0,0.3); display: none; }
.course .swiper-container { width: 7.5rem; height: 11.3rem; position: relative; margin: 0 auto; margin-top: 2rem; overflow: hidden; background: #fff;}
.course .swiper-container img{ width:100%; }
.course .swiper-container .pagination { position: absolute; left: 0; text-align: center; bottom: 1rem; width: 100%; height:0.37rem;}
.course .swiper-container .swiper-pagination-switch { display: inline-block; width: 0.22rem; height: 0.22rem; border-radius: 50%; background: #9ec3f5; margin: 0 0.08rem; cursor: pointer;}
.course .swiper-container .swiper-active-switch { background: #fe6374;}
.course .swiper-container .swiper-pagination{bottom: 1.5rem;}
.course .swiper-container .swiper-pagination span{display: inline-block; width: 0.3rem; height: 0.3rem; border-radius: 50%; background: #9ec3f5; margin: 0 0.08rem; cursor: pointer;}
.course .closeBtn{z-index: 10;position: absolute;left: 1.3rem;bottom: 0.2rem;display: block;width: 5rem;height: 1rem;line-height: 1rem;background: #fe6374;color: #fff;text-align: center;border-radius: 0.08rem;font-size: 0.4rem; }
.b-t-b{ position: absolute; left:0; top:0; width:100%; height:100%; background: rgba(0,0,0,0.7); z-index: 88; display: none; }
.b-t-b .arrows{ width:1.41rem; margin-right:0.3rem; margin-top:0.2rem;}
.b-t-b .tip-1{ margin-top:2.5rem; color:#fff; line-height: 0.5rem; font-size: 0.28rem; }
.b-t-b .tip-1 > span{ display: inline-block; width:0.5rem; height:0.5rem; background: #ea7824; border-radius:50%; text-align: center; color:#fff; margin-left:0.5rem; margin-right:0.2rem; }
.b-t-b .tip-1 > img{ width:0.69rem; margin:0rem 0.1rem;}
.b-t-b .tip-2{ margin-top:0.2rem; color:#fff; line-height: 0.5rem; font-size: 0.28rem; }
.b-t-b .tip-2 > span{ display: inline-block; width:0.5rem; height:0.5rem; background: #ea7824; border-radius:50%; text-align: center; color:#fff; margin-left:0.5rem; margin-right:0.2rem; }
@keyframes elemScale{
    0% { transform: scale(0.9); }
	50% { transform: scale(1.0); }
	100%{ transform: scale(0.9);}
}
